@media only screen and (min-width: 480px) {
  body {
    font-size: 12px;
  }
}

@media only screen and (min-width: 580px) {
  body {
    font-size: 13px;
  }

  .conversation-list {
    .list__item {
      width: calc(100% / 3);
    }
  }
}

@media only screen and (min-width: 767px) {
  body {
    font-size: 14px;
  }

  header {
    h1 {
      font-size: 4em;
    }
  }

  .wrapper-front {
    position: absolute;
    bottom: 170px;
    right: 60px;
  }

  .conversation-list {
    .list__item {
      width: calc(100% / 4);
    }
  }

  .question__answer {
    .answer__item {
      &:before {
        right: 97%;
        top: -5px;
      }
    }
  }

  .result-block {
    .progress__block {
      width: 50%;
    }
  }

  .wrapper__result {
    .mood-master {
      margin-top: 70px;
    }
  }

  .content__block {
    padding: 5% 3%;
  }
}

@media only screen and (min-width: 992px) {

  body {
    font-size: 15px;
  }

  header {
    h1 {
      font-size: 5em;
    }
  }

  .wrapper-front {
    padding: 4% 6%;
  }
}

@media only screen and (min-width: 1150px) {
  .wrapper-front {
    padding: 4% 4%;
  }
}