$base-btn-color: #f2fbce;

/*btn color*/
$def-btn: #535252;
$new-game: #00c196;
$how-to-play: #f56c00;
$start: #abd14c;
$end-game: #eb3736;
$exit-game: #eb3736;
$quit-game: #eb3736;
$back: #535252;
$show-me: #cccccc;
$review: #36adc9;
$done: #abd14c;
$start-over: #ff0040;
$close: #eb3736;

/*option emotion color*/
$option-eyebrows: #d9e026;
$option-eyes: #d44940;
$option-mouth: #36adc9;
$option-mood-shading: #ffd22f;

/*modal header color*/
$review-modal: #36adc9;
$hint-modal: #ABD14C;

/*message color*/
$message-error: rgba(215, 77, 77, 0.85);
$message-correct: rgba(252, 196, 94, 0.85);

$emotion__error: #D44940;
$emotion__correct: #ABD14C;

/*header step color*/
$chose-a-conversation: #36ADC9;