@font-face {
  font-family: 'BebasNeue Bold';
  src: url("../fonts/BebasNeue Bold.otf"); }

.font-quicksand {
  font-family: "Quicksand", sans-serif; }

.font-quicksand-bold {
  font-family: "Quicksand", sans-serif;
  font-weight: bold; }

.font-bebasNeue {
  font-family: "BebasNeue Bold"; }

.font-quicksand {
  font-family: "Quicksand", sans-serif; }

.font-quicksand-bold {
  font-family: "Quicksand", sans-serif;
  font-weight: bold; }

.font-bebasNeue {
  font-family: "BebasNeue Bold"; }

/*btn color*/
/*option emotion color*/
/*modal header color*/
/*message color*/
/*header step color*/
*[hidden] {
  display: none; }

html, body, main {
  height: 100%; }

body {
  font-size: 11px;
  letter-spacing: 1px;
  background: url("../images/bg.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-width: 380px; }

img {
  max-width: 100%;
  height: auto; }

section {
  padding: 4% 0 4%;
  display: inline-block;
  width: 100%;
  margin-top: -6px; }
