@font-face {
  font-family: 'BebasNeue Bold';
  src: url("../fonts/BebasNeue Bold.otf"); }

.font-quicksand {
  font-family: "Quicksand", sans-serif; }

.font-quicksand-bold {
  font-family: "Quicksand", sans-serif;
  font-weight: bold; }

.font-bebasNeue {
  font-family: "BebasNeue Bold"; }

/*btn color*/
/*option emotion color*/
/*modal header color*/
/*message color*/
/*header step color*/
.wrapper-front {
  padding: 4% 10%; }

.front-bg {
  position: absolute;
  background: url("../images/title-crane_2.png") no-repeat bottom center;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-size: auto 90%;
  right: 0;
  left: 0; }

header {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  padding: 10px 0; }
  header.chose-a-conversation {
    background: #36ADC9; }
  header.how-to-play {
    background: #f56c00; }
  header h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 3em;
    font-weight: bold; }

.rules {
  padding-left: 0;
  margin-top: 20px; }
  .rules .rules__item {
    list-style: none;
    margin-bottom: 10px; }
  .rules .rules__img {
    max-width: 50px;
    position: absolute; }
  .rules .rules__description {
    position: relative;
    padding-left: 60px;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    margin: 10px 0; }

.description {
  font-family: "Quicksand", sans-serif;
  font-weight: bold; }
  .description .description__text {
    text-align: left;
    font-size: 1.9em; }
    .description .description__text p {
      margin: 0; }
  .description .description__team {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    color: #000;
    font-family: "BebasNeue Bold";
    margin-bottom: 100px; }

.descripton__task {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.7em;
  color: #144c5f; }

.content .content__buttons {
  display: inline-block;
  width: 100%;
  margin-top: 20px; }

.game-play {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px; }

/*-------------------------*/
.conversation-list {
  margin-bottom: 50px; }
  .conversation-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: flex-start; }
  .conversation-list .list__item {
    list-style: none;
    padding: 5px;
    width: calc(100% / 2);
    font-weight: bold;
    text-align: center;
    cursor: pointer; }
    .conversation-list .list__item.active figure img {
      border: 3px solid #211D1E;
      border-radius: 30px; }
    .conversation-list .list__item.active figcaption {
      position: relative;
      z-index: 2;
      border: 3px solid #211D1E; }
  .conversation-list figure img {
    width: 100%;
    max-width: 200px;
    padding: 12px; }
  .conversation-list figcaption {
    background: #DDDDDD;
    text-transform: uppercase;
    color: #000;
    font-family: "BebasNeue Bold";
    font-size: 1.6em;
    max-width: 160px;
    width: 100%;
    margin: -8px auto 0 auto;
    border-radius: 10px;
    padding: 0 10px; }

.content__block {
  max-width: 100%;
  margin: auto;
  text-align: center;
  border: 4px solid #D9D8D8;
  border-radius: 15px;
  background: #E6E6E6;
  padding: 5% 3% 52px 3%;
  font-family: "Quicksand", sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }

.content__arrow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .content__arrow .arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 20px;
    cursor: pointer; }
    .content__arrow .arrow a {
      color: #cddc3c; }
    .content__arrow .arrow__next {
      right: 20px; }
    .content__arrow .arrow__prev {
      left: 20px; }

.question__message {
  max-width: 100%;
  margin: 20px auto;
  text-align: center;
  border: 4px solid #F9C41B;
  border-radius: 15px;
  background: #EFE9BE;
  padding: 5% 3%;
  font-family: "Quicksand", sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }

.question__answer {
  font-family: "Quicksand", sans-serif;
  font-size: 1.8em;
  margin-top: 30px; }
  .question__answer ul {
    list-style-type: none; }
  .question__answer .answer__item {
    padding: 10px 10px 10px 45px;
    background: #FFDC85;
    border-radius: 0 20px 20px 20px;
    margin-bottom: 35px;
    position: relative; }
    .question__answer .answer__item:before {
      content: 'A';
      font-weight: bold;
      width: 70px;
      height: 70px;
      font-size: 1.7em;
      background: #F2E8BB;
      position: absolute;
      border-radius: 50%;
      right: 93%;
      top: -25px;
      text-align: center; }
    .question__answer .answer__item:nth-child(1):before {
      content: 'A'; }
    .question__answer .answer__item:nth-child(2):before {
      content: 'B'; }
    .question__answer .answer__item:nth-child(3):before {
      content: 'C'; }
    .question__answer .answer__item p {
      margin: 0; }

.mood-master {
  text-align: center; }
  .mood-master .mood-master__emotion {
    display: inline-block;
    width: 200px;
    height: 200px;
    background: #80CBC4;
    border-radius: 50%;
    position: relative; }
    .mood-master .mood-master__emotion .emotion {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 30px; }
      .mood-master .mood-master__emotion .emotion__positive {
        background: url("../images/howto-crown.png") no-repeat center; }
      .mood-master .mood-master__emotion .emotion__negative {
        background: url("../images/howto-crown.png") no-repeat center; }

.mood-master__progress {
  width: 100%;
  height: 490px;
  display: inline-block;
  background: url("../images/mood-progress.png") no-repeat top center;
  text-align: center;
  margin-top: 20px; }

.progress__block {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 100%;
  max-height: 350px;
  text-align: center;
  bottom: -68px;
  left: -5px; }

.progress__line {
  background: linear-gradient(to top, #ff3232 20%, #ff9600 33%, #ffff00 66%, #00ff00 100%);
  position: absolute;
  width: 100%;
  bottom: 0; }
  .progress__line:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, transparent 0%, transparent 50%, #d0d2d3 50%, #D0D2D3 100%);
    background-size: 100% 7px; }

.wrapper__result .control-buttons {
  margin-top: 40px; }
  .wrapper__result .control-buttons .btn {
    margin: 0 10px;
    padding: 0 0.7em;
    font-size: 2.6em; }

.result-block {
  max-width: 600px; }
  .result-block h1 {
    text-align: center;
    font-family: "BebasNeue Bold";
    font-size: 3em; }
  .result-block .content__block {
    display: block;
    position: static;
    text-align: left; }
  .result-block .result__item {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%; }
  .result-block .mood-meter span {
    float: left; }
  .result-block .score .score__count {
    font-size: 1.3em; }
  .result-block .progress__block {
    position: relative;
    height: 36px;
    width: 33%;
    top: 0;
    bottom: 0;
    float: left;
    margin-left: 20px; }
  .result-block .progress__line {
    background: linear-gradient(to right, #ff3232 20%, #ff9600 33%, #ffff00 66%, #00ff00 100%);
    height: 100%; }
    .result-block .progress__line:before {
      background-image: linear-gradient(to right, transparent 0%, transparent 50%, #E6E6E6 50%, #E6E6E6 100%);
      background-size: 7px 100%; }
