.wrapper {
  width: 90%;
  max-width: 1520px;
  padding: 2% 20px;
  position: relative;
  -webkit-overflow-scrolling: touch;
  margin: auto;
  display: block; }
  .wrapper__result {
    width: 70%; }
